name: Build and Push Docker Image

on:
  push:
    branches: [ "main", "develop", "feature/*" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Get Version and Short SHA
        id: vars
        run: |
          # 1. Get the latest tag or default to v0.0.0
          LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          # 2. Get the 7-character short SHA
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)

          echo "tag=$LATEST_TAG" >> $GITHUB_OUTPUT
          echo "sha=$SHORT_SHA" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            tags: |
                # If on main: push as 'v1.0.0'
                type=raw,value=${{ steps.vars.outputs.tag }},enable=${{ github.ref == 'refs/heads/main' }}

                # If NOT on main: push as 'v1.0.0-27d1e74'
                type=raw,value=${{ steps.vars.outputs.tag }}-${{ steps.vars.outputs.sha }},enable=${{ github.ref != 'refs/heads/main' }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
            context: .
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}